.page-login {
    width: 100vw;
    height: 100vh;
    background-color: #4f4c4c;
    display: grid;
    justify-content: center;
    color: azure;
}

@-webkit-keyframes form-login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes form-login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes form-login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes form-login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.form-login {
    width: 600px;
    margin: 60px;
    -webkit-animation: form-login 2s ease-in-out;
    -moz-animation: form-login 2s ease-in-out;
    -o-animation: form-login 2s ease-in-out;
    animation: form-login 2s ease-in-out;
}

.title-login h1 {
    text-align: center;
    width: 500px;
    margin-left: 50px;
    font-size: 30px;
}

.form-login form {
    margin-top: 40px;
}

.page-login button {
    color: black;
    height: 50px;
}