.contact-page {
    width: 100vw;
    height: 100vh;
    background-color: #4f4c4c;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

.message-contact {
    width: 50%;
    text-align: center;
    margin-top: 200px;
    padding-left: 30px;
}


.message-contact h1 {
    font-size: 50px;
    margin-left: 20px;
}

.message-contact p {
    padding-top: 40px;
    margin-left: 20px;
}

.contact-form {
    margin-top: 120px;
    width: 50%;
    display: grid;
    justify-content: center;
    margin-left: 40px;
}


.contact-form form {
    width: 500px;
}

.contact-form button {
    margin-top: 15px;
    width: 200px;
}